<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        table,thead,tbody,tfoot,tr,th,td {margin: 0; padding: 0; border-collapse: collapse;}
        th,td {padding: 10px; border: 1px solid #666; }
        th {background-color: #eee;}
        caption {font-size: 1.2em; font-weight: 600; padding: 10px;}
    </style>

    <script src="https://unpkg.com/vue"></script>
    <script>
        window.onload = function(){
            let vm = new Vue({
                el : '#app',
                data:{
                    header: ['프로그래밍 언어', 2018, 2013, 2008, 2003, 1998],
                    ranking: [
                        ['java', 1, 2, 1, 1, 16],
                        ['C', 2, 1, 2, 2, 1],
                        ['javascript', 7, 10, 8, 7, 20]
                    ]

                }
            })
        }
    </script>
</head>
<body>
    <div id="app">
        <table>

            <caption>프로그래밍 언어 인기 순위</caption>
            <thead>
                <tr>
                    <th v-for="title in header"> {{title}} </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="row in ranking">
                    <td v-for="col in row"> {{col}} </td>
                </tr>
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
</body>
</html>